/* Navbar.css */
.navbar {
  background-color: #A0D2EB;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: #a28089;
}

.navbar-logo a {
  color: Black;
  font-size: 1.5em;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;

}

.navbar-links a {
  color: Black;
  font-weight: 600;
  text-decoration: none;
  font-size: 1em;
}

.navbar-links a:hover {
  color: #a28089;
}
